@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --green: #c5f82a;
  --white: #ffffff;
  --grey: #333333;
  --dark-grey: #1f1f1f;
  --off-black: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--off-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.card {
  background: var(--dark-grey);
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
}

.name {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
}

.location {
  margin-top: 6px;
  color: var(--green);
  font-weight: 600;
  font-size: 0.95rem;
}

.bio {
  color: #cfcfcf;
  font-size: 0.9rem;
  margin: 20px 0 25px;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.links li a {
  display: block;
  background: var(--grey);
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.25s;
}

.links li a:hover {
  background: var(--green);
  color: black;
}
