body {
    margin: 0;
    padding: 0;
    background: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

#coin {
    width: 150px;
    margin: 20px 0;
}

button {
    background: #00ff7f;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0be47b;
}

#result {
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
}
